name: Continuous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Conda environment
        uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          activate-environment: pyodi
          environment-file: conda.yaml
      - name: Lint code
        shell: bash -l {0}
        run: |
          isort -rc --check-only --diff pyodi/ tests/
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          mypy -p pyodi
          black .
      - name: Install pyodi
        shell: bash -l {0}
        run: pip install .
      - name: Test with pytest
        shell: bash -l {0}
        run: pytest
      - name: Generate docs
        shell: bash -l {0}
        run: mkdocs build
