name: Issue Branch

on:
    issues:
        types: [assigned]
    issue_comment:
        types: [created]

jobs:
    create_issue_branch_job:
        runs-on: ubuntu-latest
        steps:
        - name: Create Issue Branch
          uses: robvanderleek/create-issue-branch@master
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          silent: false
          branchName: full
          branches:
            - label: enhancement
              prefix: feature/
            - label: bug
              prefix: bugfix/
